
 #howto{
    background: #fef2d3;
    height: 70vh;

}
#howto>h2{
  color: black;
}

form{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

p.text {
    font-size: 10px; 
    text-align: center;
    width: 100%;
    padding: 8%;
}

form > label{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;

}
